<h2>Milkode</h2>

<%= form_tag({:action => 'index'}, {:method => 'get', :project_id => @project})  do %>
  <%= text_field_tag :keyword, @keyword, {:autofocus=>true, :style=>'width: 300px'} %>
<% end %>
<br>
Package num: <%= @package_num %>

<% if @results %>
  <hr/>
  results:<br/>

  <% @results.each do |result| %>
    <%= result[:repository_identifier] %>:
    <%= link_to(File.basename(result[:path]),
      :controller => 'repositories', :action => 'entry', :id => @project, :repository_id => result[:repository_identifier], :path => result[:path]) %><br/>
  <% end %>

  <p class="pagination">
  <% if @page > 1 %>
    <%= link_to '«', :page => @page - 1, :keyword => @keyword, :per_page => @per_page %>
  <% end %>
  <% if @page * @per_page < @total %>
    <%= link_to '»', :page => @page + 1, :keyword => @keyword, :per_page => @per_page %>
  <% end %>
    (<%= @start_index + 1 %>-<%= @end_index + 1 %>/<%= @total %>)
  </p>

<% end %>
