<div class="contextual">
  <%= link_to 'Back to Search', :action => :index %>
</div>
<h2>Settings</h2>

<table class="list">
  <tr>
    <th><%= l(:label_scm) %></th>
    <th><%= l(:field_identifier) %></th>
    <th><%= l(:field_url) %></th>
    <th><%= l(:button_add) %></th>
    <th><%= l(:button_update) %></th>
    <th><%= l(:button_delete) %></th>
  </tr>
  <% @project.repositories.each do |repository| %>
    <tr style="text-align:center">
      <td><%= repository.scm_name %></td>
      <td><%= repository.identifier || '' %></td>
      <td style="text-align:left"><%= repository.url %></td>
      <td style="width:100px">
        <%= form_tag :action => :add_repository, :identifier => repository.identifier do |f| %>
          <%= button_tag l(:button_add) %>
        <% end %>
      </td>
      <td style="width:100px">
        <%= form_tag :action => :update_repository, :identifier => repository.identifier do |f| %>
          <%= button_tag l(:button_update) %>
        <% end %>
      </td>
      <td style="width:100px">
        <%= form_tag :action => :delete_repository, :identifier => repository.identifier do |f| %>
          <%= button_tag l(:button_delete) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

